# Environnement virtuel
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log